langchain==0.2.14
langchain-community==0.2.12
langchain-groq===0.1.9
unstructured==0.14.6
selenium==4.21.0
langchain-chroma>=0.1.2
streamlit>=1.0.0
pandas==2.0.2
python-dotenv==1.0.0
pysqlite3-binary==0.5.3
streamlit==1.38.0
watchdog==4.0.2
# Add any other dependencies here
